//
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Bootstrap
@import '~bootstrap';



$primary-color: #803ED7;
$secondary-color: #ffbd4e;
$third-color: #f162c4;
$white: #fff;
$orange: #dfac6a;
$grey: #333333;
$light-grey: #4D4D4D;
$lighter-grey: #C3C3C3;
//PROBABILITY COLORS
$very-low: #eb2431;
$low: #e8871d;
$medium: #e6c910;
$high: #9ed810;
$very-high: #1be613;

//GENERALES
@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}
.btn:focus, .btn.focus{

    outline: none;
    box-shadow: none;
    color: inherit;
}
.btn-third{
    background-color: #f262cf;
    border: none;
    color: $white;
}

.btn-add-opp-db{
    border-radius: 20px 20px 20px 20px;
    padding: 9px 24px 9px 24px;
    font-weight: bold;
}

.btn-edit{
    color: $light-grey;
    font-weight: bold;
}

/*NUEVO LAYOUT*/
body, html{
    height: 100%;
    background-color: $white;
    font-family: 'Lato', 'sans-serif';
}

header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
a{
    color: $third-color;
}
a:hover{
    color: $primary-color;
}
#modern{
    width: 100%;

    .main-content{
        padding: 25px;

        &>.container-form{
            background-color: #fff;
            padding: 15px 25px;
            margin-top: 20px;
            min-height: inherit;

            label{
                color: $grey;
            }
        }
    }

    .btn-outline-info {
        color: $orange;
        border-color: $orange;
    }
    .btn-outline-info:hover {
        background-color: $orange;
        color: $white;
        border-color: transparent;
    }

    .page-link{
        color: $primary-color;
    }
}

.color-primary{
    color: $primary-color !important;
}
.color-secondary{
    color: $secondary-color !important;
}
.color-third{
    color: $third-color !important;
}
#modern .container,#modern .container-fluid{
    min-height: 100vh;
    max-height: 100%;
}


.flex-fill {
    flex:1;
}

.head-page{
    background-color: #fff;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;

    .title-row{

        h1{
            color: #212529;
            font-size: 15px;
            text-transform: uppercase;
        }
    }

}
.fa-title{
    color: $secondary-color;
}

/*NUEVO LAYOUT*/
.btn-visyttex{
    background-color: #1ab096;
    color: #fff;
}
.btn-thales-primary{
    background-color: $primary-color;
    color: $white;
    border-radius: 20px 20px 20px 20px;
    padding: 9px 24px 9px 24px;
    font-weight: bold;
}
.btn-thales-secondary{
    background-color: $third-color;
    color: $white;
    border-radius: 20px 20px 20px 20px;
    padding: 9px 24px 9px 24px;
    font-weight: bold;
}
.link-white{
    color: $white;
}
select.form-control:disabled, select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: #fff;
    border: none;
    padding: 0;
}
select{
    appearance: auto !important;
}

.btn-agregar-sistema{
    float: right;
    width: auto;
    background-color: $orange;
    color: $white;
}
.btn-buscar{
    background-color: $secondary-color;
    color: $white;
    width: auto;
}

.btn-danger{
    background-color: $orange;
    border-color: $orange;
    color: $white;
    width: auto;

    &:hover{
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}

.card{
    border: none;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    cursor: grab;

    .card-header{
        background-color: $light-grey;
        color: #fff;
        font-weight: bold;
        padding: 0.45rem 0.95rem;
    }
}

//tasks
.tasks-head-inn{
    display: flex;
    justify-content: space-between;
    padding: 17px;
    background-color: #fff;
    /*
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
*/
    .tasks-head-tit{
        a{
            color: $third-color;
        }
    }
}
.tasks-body-inn{
    display: flex;
    align-items: stretch;

    .tasks-stage-wrapp{
        min-width: 234px;
        position: relative;
        /*border-left: 2px solid #ccc;*/
        background-color: $white;

        .tasks-stage-inn{
            height: 100%;


            .tasks-stage-title{
                background-color: $grey;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding: 13px 0;
                border-radius: 2px;
            }
            .tasks-stage-body{
                max-height: calc(100vh - 223px);
                min-height: 450px;
                overflow-y: auto;
                padding-top: 25px;
                padding-bottom: 100px;


                .task-inn{
                    padding: 0 10px;


                }
                /* Tamaño del scroll */
                &::-webkit-scrollbar {
                    width: 8px;
                }

                /* Estilos barra (thumb) de scroll */
                &::-webkit-scrollbar-thumb {
                    background: #ccc;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb:active {
                    background-color: #999999;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #b3b3b3;
                    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
                }

                /* Estilos track de scroll */
                &::-webkit-scrollbar-track {
                    background: #e1e1e1;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-track:hover,
                &::-webkit-scrollbar-track:active {
                    background: #d4d4d4;
                }


            }

            .task-stage-footer{
                display: none;
                background-color: $grey;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding: 13px 0;
                border-radius: 2px;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }



    }

}
.tasks-activities-ext{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid $lighter-grey;
    width: 250px;
    z-index: 5;

    .tasks-activities-wrap{
        height: 100%;

        .tasks-activities-inn{
            min-height: 100%;
            padding: 10px;
            background-color: $white;

            .tasks-activities-title{
                padding: 5px;
                padding-bottom: 15px;
                font-size: 21px;
                text-align: center;
                color: $light-grey;
                border-bottom: 1px solid $lighter-grey;
            }
            .tasks-activities-subtitle{
                padding: 5px;
                padding-bottom: 15px;
                font-size: 18px;
                text-align: center;
                color: $light-grey;
                border-bottom: 1px solid $lighter-grey;
            }
            .tasks-activities-body{

                .tasks-activities-list{


                    .tasks-activity{
                        margin-top: 15px;
                        font-size: 16px;
                        padding: 5px;
                        border-top: 1px solid $lighter-grey;
                        border-bottom: 1px solid $lighter-grey;

                        .task-activity-detail{
                            padding-bottom: 7px;
                        }
                    }
                }
            }

        }

    }
}
.dropdown-services-list{
    padding: 10px 40px;

    .dropdown-service-type-additionals{
        font-size: 13px;
        color: $light-grey;
        margin-left: 25px;
        display: none;

    }
    .dropdown-service-type-additionals.active-service-type{
        display: inherit;

    }
}
//task PAGE


.task-page-title-inn{
    background-color: $primary-color;
    color: #fff;
    padding: 25px;

    .task-page-title-dscr{
        color: #eee;
        font-size: 16px;
    }
    .task-page-title-name{
        font-size: 35px;
    }
}

.task-page-content-inn{
    background-color: #fff;
    padding: 25px;

    .activities-wrapp{
        max-height: calc(100vh - 300px);
        overflow-y: auto;

        .morecontent span {
            display: none;
        }

    }

    .detail-wrapp{

        label {
            font-size: 13px;
            color: #999;
        }
        .form-control{
            border: none;
            padding: 0;
            border-bottom: 1px solid #888888;
        }
    }
}

.tasks-body-wrapp{

    justify-content: center;
    display: flex;
}
.container-dashboard-opp{
    max-width: inherit;
}
.tasks-wrapp{
    overflow-x: auto;
    padding: 25px;

}

